<!DOCTYPE html>
<html>
  <head>
    <title>Pokestop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar"><button type="button" class="btn btn-warning">Primary</button></div>
    <%= yield %>
  </body>
</html>
